<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Crypto Portfolio</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          type="text/css"/>
    <link href="../static/css/portfolio.css" rel="stylesheet" th:href="@{/css/portfolio.css}" type="text/css"/>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.0/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript">
    </script>
</head>

</html>